<!-- Sample form page -->

<h2>Enter a sentence a word to find and a replacement word to begin</h2>
<form action='/find_and_replace' method='get'>
  <div class="form-group">
    <label for="sentence">A Sentence</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
    <label for="find">word to find</label>
    <input id="find" name="find" class="form-control" type="text">
    <label for="replace">replacement word</label>
    <input id="replace" name="replace" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go</button>
</form>
